<div class="main mt-5">
    <div class="contact-content">
        <div class="container">
      
            <div class="row">
                <div class="col-md-9">
                    <h3 class="title">Your experiences</h3>
                </div>
                <div class="col-md-3 text-right mt-3">
                    <a routerLink="/experience-hosting/create" class="btn btn-outline-primary">Create experience</a>
                </div>
            </div><!--./row--> 
    
            <div class="featurette-divider fd-100"></div>  
        
            <div class="row">
                <div class="col-sm-12 ml-auto mr-auto">
                    
                    <div class="mb-5" style="margin-top: 70px;">
                        You don’t have any experiences – start a hosting experience.
                    </div> 

                    <a routerLink="/experience-hosting/create" class="btn btn-outline-primary">Create experience</a>

                </div> 
            </div><!--./row-->  
        
            <div class="row mt-5">
                <div class="col-sm-12 ml-auto mr-auto">   
                    <div class="shadow-sm border pb-2">
                      <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static border-bottom">
                          <strong class="d-inline-block mb-2 text-success border-bottom">In progress</strong>
                          <h4 class="mb-0">Experience title</h4>
                          <p class="card-text mb-auto pb-3 border-bottom">You'll need to add a few more details before you can submit.</p>
                          <p class="bt-1 pt-2 mt-3"><i class="fa fa-send"></i> Finish submitting your experience</p>
                          <p>Make sure to complete all the sections to submit your experience for review.</p>
                          <a routerLink="/experience-hosting/listings/1/location" class="stretched-link"></a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                          <img src="/assets/store/no_photos_933x622.png" width="250" height="200">
                        </div>
                      </div>
                        <div class="col-md-12 bt-1 pt-2">
                          <a class="txb mr-3" routerLink="/experience-hosting/listings/1/location">Continue</a>
                          <a class="txb">Delete</a>
                        </div>
                    </div>
                </div> 
            </div><!--./row-->  

        </div> 
    </div> 
</div> 


