<div class="main mt-5">
    <div class="contact-content">
        <div class="container">
            
            <noscript class="dmp_JavaScriptDisabled" style="display: none;">
            <div class="alert alert-danger">
                <div class="container">
                  <div class="alert-icon">
                    <i class="material-icons">error_outline</i>
                  </div>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                  </button>
                  <b>Video cannot be played.</b> Please enable JavaScript if it is disabled in your browser.
                </div>
              </div>
            </noscript>
              
            <div class="row">
                <div class="col col-md-10">
                    <h3>Your First Set of Scuba Gear: A Buyer's Guide</h3>
                    <p class="description"><small>Updated: April 5, 2019</small></p>
                </div>               
                <div class="col col-md-2 mt-4 text-right">
                    <a routerLink="/gear/scuba-diving/bcd" class="btn btn-sm btn-outline-blank"><i class="fa fa-reply"></i> Go back</a>
                </div>
            </div>
    
            <div class="featurette-divider fd-100"></div>  
        
            <div class="row">
                <div class="col-sm-8 ml-auto mr-auto"><!--/left col-->
              
                    <div class="row">
                        <div class="col col-md-12">
                            <h4><strong></strong></h4>    
                            <div class="text-left mt-5 txta">
                                Before you can be certified to scuba dive, you'll have to find a mask, snorkel and fins that fit 
                                you properly. But how do you know what to buy? These quick tips will help explain how to make sure 
                                your <a class="txu" [routerLink]="['/glogs/scuba-diving/article/1234']" [queryParams]="{search_back: '/glogs/scuba-diving/article/1234'}">#mask</a> and fins fit properly and what features to look for when you're buying dive gear.
                            </div>
                        </div> 
                    </div><!--/row--> 
              
                    <div class="row border-bottom pb-5">
                        <div class="col col-md-12">
                            <h4><strong></strong></h4>    
                            <div class="text-left mt-5 txta">
                                <div class="embed-responsive embed-responsive-16by9">
                                   <iframe class="embed-responsive-item" frameborder="0" src="https://www.dailymotion.com/embed/video/x5qi0hz" allowfullscreen allow="autoplay"></iframe>
                                </div>                             
                            </div>
                        </div> 
                    </div><!--/row--> 
                    
                    <div class="row mt-5 border-bottom pb-5">
                        <div class="col col-md-12">
                            <h3><strong>Scuba Mask</strong></h3>    
                            <div class="text-left txta">
                                The one-pane oval mask of Sea Hunt and those old Bond films is practically a relic. In its place is a variety of styles for a world of faces. Your job: Choose the one right for yours.
                            </div>   
                            <div class="text-left txta mt-3">
                                <strong>What It Does - </strong>The mask creates an air space in front of your eyes that allows them to focus under water. The nose pocket allows you to equalize the air pressure in your mask as you go deeper.
                            </div>
                        </div> 
                    </div><!--/row--> 
              
                    <div class="row">
                        <div class="col col-md-12">
                            <h4><strong></strong></h4>    
                            <div class="text-left mt-5 txta">
                                
                            </div>
                        </div> 
                    </div><!--/row--> 

                </div><!--/left col--> 
                <div class="col-sm-3 ml-auto mr-auto"><!--/right col-->

                    <div class="row mt-5 border-bottom">
                        <div class="col col-md-12">
                            <div class="card card-plain card-blog">
                                <div class="card-header card-header-image">
                                    <img class="img img-raised" src="/assets/store/pictures/ads/Logo2-100-02-2.png">
                                    <div class="colored-shadow" style="background-image: url(&quot;/assets/store/pictures/ads/Logo2-100-02-2.png&quot;); opacity: 1;"></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info">Dive center</h6>
                                <h5 class="card-title">
                                    <a class="stretched-link" href="https://sidive.com" target="_blank">Diving Philippines Cebu - Sidive</a>
                                </h5>
                            </div>
                        </div>
                    </div><!--/row-->   

                    <div class="row mt-5 border-bottom">
                        <div class="col col-md-12">
                            <div class="card card-plain card-blog">
                                <div class="card-header card-header-image">
                                    <img class="img img-raised" src="/assets/store/pictures/ads/Logo2-100-02-2.png">
                                    <div class="colored-shadow" style="background-image: url(&quot;/assets/store/pictures/ads/Logo2-100-02-2.png&quot;); opacity: 1;"></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info">Dive center</h6>
                                <h5 class="card-title">
                                    <a class="stretched-link" href="https://sidive.com" target="_blank">Diving Philippines Cebu - Sidive</a>
                                </h5>
                            </div>
                        </div>
                    </div><!--/row-->           

                </div><!--/right col-->
            </div>

        </div> 
    </div> 
</div> 