
  <section class="mt-5 py-1"> 
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h3>Divegigs Destinations</h3>
          <p class="text-secondary">Want to know the best places to dive in the world?</p>
        </div>
      </div> 
      <div class="row">
        <div class="col-md-3"><!-- row -->
          <div class="w-100 h-100 hover-animate">
            <div class="card h-100 border-0 shadow">
              <div class="card-img-top overflow-hidden gradient-overlay"> 
                <img src="assets/store/pictures/des/hqdefault.jpg" alt="Island Hopping" class="img-fluid">
              </div>
              <div class="card-body d-flex align-items-center">
                <div class="w-100">
                  <h6 class="card-title">
                    <span class="text-decoration-none text-dark">Philippines</span>
                  </h6>
                  <div class="d-flex card-subtitle mb-3">
                    <p class="flex-grow-1 mb-0 text-muted text-sm">The best time to snorkel or to dive gfg fgfgfggdgfg ...</p>
                  </div>
                    <p class="flex-shrink-1 mb-0 card-stars text-xs mb-3">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-gray-300"></i>
                      <i class="fa fa-star text-gray-300"></i>
                    </p>
                  <a [routerLink]="['/destination/PHILIPPINES']" [queryParams]="{search_type: 'destinations'}" class="stretched-link"></a>
                </div>
              </div>
            </div>
          </div>          
        </div><!-- /row -->
      </div>
    </div>
  </section>
