<div class="main mt-5">
    <div class="contact-content">
        <div class="container">
      
            <div class="row">
                <div class="col col-md-9">
                    <h3 class="title">{{ pageHeading }} <small class="ml-4 text-muted">{{ pageSteps }}</small></h3>
                    <p class="description">{{ pageDescription }}</p>
                </div>
                <div class="col col-md-3 text-right mt-3">
                    <button class="btn btn-outline-primary btn-sm">Save & Exit</button>
                </div>
            </div>
    
            <div class="featurette-divider fd-100"></div>  
        
            <div class="row mt-5 justify-content-md-left">
                <div class="col-sm-6 ml-auto mr-auto">

                    <form [formGroup]="typeForm" (ngSubmit)="onSubmit()">
                        <div class="mh-290">
                                      
                            /* bug: refresh browser to expose select options? */
                            /* Angular ng-if not true */
                            
                            <div class="form-group">
                                <div><label for="theme" class="bmd-label-floating">What type of experience will you host?</label></div>
                                <div class="dropdown bootstrap-select mt-3">
                                    <select id="theme" formControlName="theme" title="Choose a theme" class="selectpicker" data-style="select-with-transition" data-size="7" tabindex="-98" [ngClass]="{ 'is-invalid': submitted && f.theme.errors }">
                                        <option [value]="theme.val" *ngFor="let theme of themeList">{{ theme.name }}</option>  
                                  </select>
                                </div>
                                <div *ngIf="submitted && f.theme.errors" class="invalid-feedback">
                                    <div *ngIf="f.theme.errors.required">Theme is required</div>
                                </div>
                            </div>
                                      
                            <div class="form-group">
                            /** optional filters here? **/
                            </div>

                        </div>
            
                        <div class="form-group"><div id="form_callback"></div></div>
            
                        <div class="form-group mt-5">
                            <a routerLink="{{ btnBackUrl }}">
                              <button class="btn btn-outline-primary" type="button">Back</button>
                            </a>
                          <button id="btn-location" class="btn btn-danger pull-right" type="submit" data-json='{ "action":"", "auth":"", "pid":, "tkn":"", "uid":"" }'>
                            <span class="btn_tx">{{ formBtnText }}</span>
                          </button>
                        </div>
            
                    </form>

                </div> 
                <div class="col-sm-6 ml-auto mr-auto"></div>
            </div>

        </div> 
    </div> 
</div> 

