<div class="main mt-5">
    <div class="content" style="margin-top: 150px;">
        <div class="container">

            <div class="bio-info">
                <div class="row">
                    <div id="first" class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bio-image">
                                    <img src="assets/store/pictures/exp/adv_1175410_1280.jpg" alt="Island Hopping" class="mb-3 img-fluid">
                                    <h3 class="m-0">Island hopping</h3>
                                    <h5 class="m-0">Cebu, Philippines</h5>
                                    <div class="mt-3">
                                        <a routerLink="/u/show/454353">
                                            <img src="/assets/store/faces/christian.jpg" width="40px" height="40px" alt="User info" class="img-raised rounded-circle img-fluid mr-3">
                                        </a>
                                        <a class="txb" routerLink="/u/show/454353">Lee</a>
                                    </div>
                                </div>
                                <hr>	
                            </div>
                        </div>	
                    </div>
                    <div class="col-md-8">                      
                        <div class="text-left">

                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Reviews</h3>
                                    <form role="form" id="contact-form" method="post">
                                        <div class="form-group label-floating">
                                            <label class="form-control-label bmd-label-floating" for="message"> Your review</label>
                                            <textarea class="form-control" rows="4" id="message"></textarea>
                                        </div>
                                        <div class="submit text-center">
                                            <button type="submit" class="btn btn-primary btn-raised btn-round">Submit review</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-11">
                                    <a class="btn btn-danger btn-link">
                                    <i class="material-icons">star</i> Excellent
                                  <div class="ripple-container"></div></a>
                                    <a class="btn btn-danger btn-link">
                                    <i class="material-icons">star</i> Very good
                                  <div class="ripple-container"></div></a>
                                  <a class="btn btn-danger btn-link">
                                      <i class="material-icons">star</i> Good
                                    <div class="ripple-container"></div></a>
                                    <a class="btn btn-danger btn-link">
                                        <i class="material-icons">star</i> Bad
                                      <div class="ripple-container"></div></a>
                                      <a class="btn btn-danger btn-link">
                                          <i class="material-icons">star</i> Very bad
                                        <div class="ripple-container"></div></a>
                                </div>
                            </div>
                            
                            <div class="row mt-5"><!--begin review-->
                                <div class="col-md-12 mt-3">
                                    <div class="row">
                                        <div class="col-md-1"><a routerLink="/u/show/454353">
                                            <img src="/assets/store/faces/christian.jpg" width="40px" height="40px" alt="User info" class="img-raised rounded-circle img-fluid mr-3">
                                            </a>
                                        </div>
                                        <div class="col-md-11">
                                         <div>  
                                            <a class="txb" routerLink="/u/show/454353" style="font-weight:600!important;">Joel</a>
                                          </div>
                                          <p class="flex-shrink-1 mb-0 card-stars text-xs mb-3">
                                            <i class="fa fa-star text-success"></i>
                                            <i class="fa fa-star text-success"></i>
                                            <i class="fa fa-star text-success"></i>
                                            <i class="fa fa-star text-gry"></i>
                                            <i class="fa fa-star text-gry"></i>
                                          </p>
                                          <div class="mt-2">
                                                I think I started out at under $3 per month 5 or 6 years ago. The price has steadily increased 
                                                and my latest renewal offer was $16.99 per month. Additionally last year my wife started having 
                                                spam problems...
                                          </div>
                                        </div>
                                    </div>
                                    <div class="h5 small text-center">20 Feb 2020</div>
                                </div>
                            </div>
                            <hr><!--end review--> 

                        </div>
                    </div>
                </div>	
            </div>
            

        </div> 
    </div> 
</div> 

