<div class="main mt-5">
  <div class="contact-content">
      <div class="container">

          <div class="row">
            <div class="col-md-12">
              <p class="text-muted font-weight-bold"><a routerLink="/account-settings">&laquo; Account Settings</a></p>
              <h3 class="title">Payments &amp; Payouts</h3>
            </div>
          </div>

          <div class="featurette-divider fd-100"></div>

          <div class="row justify-content-md-center mt-5">
            <div class="col col-sm-12">
                
                <ul class="nav nav-pills nav-pills-rose">
                  <li class="nav-item"><a class="nav-link active" href="#pill1" data-toggle="tab">Payments</a></li>
                  <li class="nav-item"><a class="nav-link" href="#pill2" data-toggle="tab">Payouts</a></li>
                  <li class="nav-item"><a class="nav-link" href="#pill3" data-toggle="tab">Taxes</a></li>
                </ul>
                <div class="tab-content tab-space">
                  <div class="tab-pane active" id="pill1">

                  </div>
                  <div class="tab-pane" id="pill2">
                    
                  </div>
                  <div class="tab-pane" id="pill3">
                    
                  </div>
                </div>

            </div> 
          </div>

    </div> 
  </div> 
</div>