<div class="main mt-5">
    <div class="contact-content">
        <div class="container">
      
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title">Processing payment</h3>
                    <p class="description">For your extra security</p>
                </div>
            </div>
    
            <div class="featurette-divider fd-100"></div>  
        
            <div class="row">
                <div class="col-sm-6 ml-auto mr-auto">
                    <div class="text-center mt-5">
                        <h5 class="mb-5">Please do not navigate away from this page</h5>
                        <img src="assets/store/preloader.gif"/>
                      </div>
                      <div class="text-center mt-5">
                        <img src="assets/store/pay-norton-vseal.gif"/>
                      </div>
                </div> 
            </div>

        </div> 
    </div> 
</div> 
