<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('/assets/store/banners/des/phil2.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Know before you go: the Philippines</h2>
          <h4>Whether you’re visiting a bustling city or chilling out on a beach, prepare for your trip to the Philippines with this eco-friendly guide.</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="container">
      <div class="about-description text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">   
            <div class="text-left mt-5">
                <h4>About</h4>
                <p>Located in the Pacific Ocean near the equator, the Republic of the Philippines consists of around 7,640 
                    islands — about 2,000 of which are inhabited — that form an archipelago. The country can be divided into 
                    three main areas: Luzon (the largest, northernmost island, which includes Manila); a group of islands 
                    called the Visayas (including the major islands Panay, Negros, Cebu, Bohol, Leyte, Samar, and Masbate); 
                    and Mindanao, the second-largest island in the Philippines, found at the southern end of the archipelago.
                </p>
                <p>From bustling cities to stunning beaches and mountains, the Philippines has a lot to offer adventurous explorers. 
                    Here are a few tips, tricks, and resources for travelers looking to find fun in the Philippines.
                </p>
                <h4>Getting there</h4>
                <p>The easiest way to get to San Francisco is to fly into San Francisco International Airport (SFO). It’s about twelve miles from the city center, and depending on where you’re staying, you can easily hop on a Bay Area Rapid Transit (BART) train to get downtown in 40 minutes. Order a taxi (or rideshare) and you’ll be at your destination in about 25 minutes.
                </p>
                <h4>Weather</h4>
                <p>Year-round, the temperature in San Francisco generally stays between 60 and 70 degrees (Fahrenheit). However, there’s a natural phenomenon in this city that can change the weather in just a few hours: the co
                </p>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">
            <h5 class="mb-0">PHP</h5>
            <span>Currency</span>
          </div>
          <div class="col">
            <h5 class="mb-0">UTC+08:00</h5>
            <span>Time zone</span>
          </div>
          <div class="col">
            <h5 class="mb-0">+63</h5>
            <span>Calling code</span>
          </div>
          <div class="col">
            <h5 class="mb-0">220v</h5>
            <span>Electric volt</span>
          </div>
          <div class="col">
            <h5 class="mb-0">MNL</h5>
            <span>Airport</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="container">
      <div class="text-center">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">   
            <div class="text-left mt-5">
                
                <div class="row mb-3">
                    <div class="col-md-8">
                      <h3>Places of interest</h3>
                    </div>
                </div> 

                  <agm-map [latitude]='latitude' [longitude]='longitude' [mapTypeId]='mapType' [zoom]='zoom'></agm-map>               
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="container">
      <div class="text-center">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">   
            <div class="text-left mt-5">
                <div class="row">
                    <div class="col-md-8">
                      <h3>Where to go</h3>
                    </div>
                  </div> 

                  <div class="row">
                      <div class="col-md-4">
                        <h5 class="mb-0">
                          <a [routerLink]="['/s/destinations/APO-REEF']" [queryParams]="{search_type: 'destinations'}">Apo Reef & Coron</a>
                        </h5>
                        <p>
                        This unique area combines some of the best wreck diving on earth with staggering natural beauty. 
                        Coron’s wrecks and the surrounding area are steeped in history which make it an intriguing destinati...</p>
                    </div>
                      <div class="col-md-4">
                        <h5 class="mb-0">
                          <a [routerLink]="['/s/destinations/APO-REEF']" [queryParams]="{search_type: 'destinations'}">Apo Reef & Coron</a>
                        </h5>
                        <p>
                        This unique area combines some of the best wreck diving on earth with staggering natural beauty. 
                        Coron’s wrecks and the surrounding area are steeped in history which make it an intriguing destinati...</p>
                    </div>
                    <div class="col-md-4">
                      <h5 class="mb-0">
                        <a [routerLink]="['/s/destinations/APO-REEF']" [queryParams]="{search_type: 'destinations'}">Apo Reef & Coron</a>
                      </h5>
                      <p>
                      This unique area combines some of the best wreck diving on earth with staggering natural beauty. 
                      Coron’s wrecks and the surrounding area are steeped in history which make it an intriguing destinati...</p>
                  </div>
                  </div>        
                  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="container">
      <div class="text-center">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">   
            <div class="text-left mt-5">
                <div class="row">
                    <div class="col-md-8">
                      <h3>What to do - Experiences</h3>
                    </div>
                  </div> 
                  
                  <div class="row mt-3">
                    <div class="col-md-3"><!-- row -->
                      <div class="w-100 h-100 hover-animate">
                        <div class="card h-100 border-0 shadow">
                          <div class="card-img-top overflow-hidden gradient-overlay"> 
                            <img src="assets/store/pictures/exp/exp_668777_1280.jpg" alt="Full Face Mask Diver" class="img-fluid">
                          </div>
                          <div class="card-body d-flex align-items-center">
                            <div class="w-100">
                              <h6 class="card-title">
                                <span class="text-decoration-none text-dark">Full Face Mask Diver</span>
                              </h6>
                              <div class="d-flex card-subtitle mb-3">
                                <p class="flex-grow-1 mb-0 text-muted text-sm">The best time to snorkel or to dive gfg fgfgfggdgfg ...</p>
                              </div>
                                <p class="flex-shrink-1 mb-0 card-stars text-xs mb-3">
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-gray-300"></i>
                                  <i class="fa fa-star text-gray-300"></i>
                                </p>
                              <p class="card-text text-muted"><span class="h4 text-primary">$75</span> per person</p>
                              <a [routerLink]="['/experiences/6545']" [queryParams]="{search_type: 'destinations'}" class="stretched-link"></a>
                            </div>
                          </div>
                        </div>
                      </div>          
                    </div><!-- /row -->
                    <div class="col-md-3"><!-- row -->
                      <div class="w-100 h-100 hover-animate">
                        <div class="card h-100 border-0 shadow">
                          <div class="card-img-top overflow-hidden gradient-overlay"> 
                            <img src="assets/store/pictures/exp/exp_668777_1280.jpg" alt="Full Face Mask Diver" class="img-fluid">
                          </div>
                          <div class="card-body d-flex align-items-center">
                            <div class="w-100">
                              <h6 class="card-title">
                                <span class="text-decoration-none text-dark">Divemaster</span>
                              </h6>
                              <div class="d-flex card-subtitle mb-3">
                                <p class="flex-grow-1 mb-0 text-muted text-sm">The best time to snorkel or to dive gfg fgfgfggdgfg ...</p>
                              </div>
                                <p class="flex-shrink-1 mb-0 card-stars text-xs mb-3">
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-gray-300"></i>
                                  <i class="fa fa-star text-gray-300"></i>
                                </p>
                              <p class="card-text text-muted"><span class="h4 text-primary">$75</span> per person</p>
                              <a [routerLink]="['/experiences/6466']" [queryParams]="{search_type: 'destinations'}" class="stretched-link"></a>
                            </div>
                          </div>
                        </div>
                      </div>          
                    </div><!-- /row -->
                    <div class="col-md-3"><!-- row -->
                      <div class="w-100 h-100 hover-animate">
                        <div class="card h-100 border-0 shadow">
                          <div class="card-img-top overflow-hidden gradient-overlay"> 
                            <img src="assets/store/pictures/exp/exp_668777_1280.jpg" alt="Full Face Mask Diver" class="img-fluid">
                          </div>
                          <div class="card-body d-flex align-items-center">
                            <div class="w-100">
                              <h6 class="card-title">
                                <span class="text-decoration-none text-dark">Wreck Diver</span>
                              </h6>
                              <div class="d-flex card-subtitle mb-3">
                                <p class="flex-grow-1 mb-0 text-muted text-sm">The best time to snorkel or to dive gfg fgfgfggdgfg ...</p>
                              </div>
                                <p class="flex-shrink-1 mb-0 card-stars text-xs mb-3">
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-gray-300"></i>
                                  <i class="fa fa-star text-gray-300"></i>
                                </p>
                              <p class="card-text text-muted"><span class="h4 text-primary">$75</span> per person</p>
                              <a [routerLink]="['/experiences/456555656']" [queryParams]="{search_type: 'destinations'}" class="stretched-link"></a>
                            </div>
                          </div>
                        </div>
                      </div>          
                    </div><!-- /row -->
                    <div class="col-md-3"><!-- row -->
                      <div class="w-100 h-100 hover-animate">
                        <div class="card h-100 border-0 shadow">
                          <div class="card-img-top overflow-hidden gradient-overlay"> 
                            <img src="assets/store/pictures/exp/exp_668777_1280.jpg" alt="Full Face Mask Diver" class="img-fluid">
                          </div>
                          <div class="card-body d-flex align-items-center">
                            <div class="w-100">
                              <h6 class="card-title">
                                <span class="text-decoration-none text-dark">Advanced Open Water</span>
                              </h6>
                              <div class="d-flex card-subtitle mb-3">
                                <p class="flex-grow-1 mb-0 text-muted text-sm">The best time to snorkel or to dive gfg fgfgfggdgfg ...</p>
                              </div>
                                <p class="flex-shrink-1 mb-0 card-stars text-xs mb-3">
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-gray-300"></i>
                                  <i class="fa fa-star text-gray-300"></i>
                                </p>
                              <p class="card-text text-muted"><span class="h4 text-primary">$75</span> per person</p>
                              <a [routerLink]="['/experiences/455534']" [queryParams]="{search_type: 'destinations'}" class="stretched-link"></a>
                            </div>
                          </div>
                        </div>
                      </div>          
                    </div><!-- /row -->
                  </div>
                  <div class="row mt-4">
                    <div class="col-md-8">
                      <a [routerLink]="['/s/experiences/PHILIPPINES']" [queryParams]="{search_type: 'destinations'}" class="text-muted">
                        <strong>Show more Dive Gigs Experiences</strong> &raquo;</a>
                      </div>
                  </div>
                   <!-- /end -->            

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="container">
      <div class="text-center">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">   
            <div class="text-left mt-5">
                <div class="row">
                    <div class="col-md-8">
                      <h3>What to do - Adventures</h3>
                    </div>
                  </div> 

                  <div class="row mt-3">
                    <div class="col-md-3"><!-- row -->
                      <div class="w-100 h-100 hover-animate">
                        <div class="card h-100 border-0 shadow">
                          <div class="card-img-top overflow-hidden gradient-overlay"> 
                            <img src="assets/store/pictures/exp/adv_1175410_1280.jpg" alt="Island Hopping" class="img-fluid">
                          </div>
                          <div class="card-body d-flex align-items-center">
                            <div class="w-100">
                              <h6 class="card-title">
                                <span class="text-decoration-none text-dark">Island Hopping</span>
                              </h6>
                              <div class="d-flex card-subtitle mb-3">
                                <p class="flex-grow-1 mb-0 text-muted text-sm">The best time to snorkel or to dive gfg fgfgfggdgfg ...</p>
                              </div>
                                <p class="flex-shrink-1 mb-0 card-stars text-xs mb-3">
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-gray-300"></i>
                                  <i class="fa fa-star text-gray-300"></i>
                                </p>
                              <p class="card-text text-muted"><span class="h4 text-primary">$75</span> per person</p>
                              <a [routerLink]="['/experiences/756756765']" [queryParams]="{search_type: 'welcome'}" class="stretched-link"></a>
                            </div>
                          </div>
                        </div>
                      </div>          
                    </div><!-- /row -->
                    <div class="col-md-3"><!-- row -->
                      <div class="w-100 h-100 hover-animate">
                        <div class="card h-100 border-0 shadow">
                          <div class="card-img-top overflow-hidden gradient-overlay"> 
                            <img src="assets/store/pictures/exp/adv_1175410_1280.jpg" alt="Cave Diving" class="img-fluid">
                          </div>
                          <div class="card-body d-flex align-items-center">
                            <div class="w-100">
                              <h6 class="card-title">
                                <span class="text-decoration-none text-dark">Cave Diving</span>
                              </h6>
                              <div class="d-flex card-subtitle mb-3">
                                <p class="flex-grow-1 mb-0 text-muted text-sm">The best time to snorkel or to dive gfg fgfgfggdgfg ...</p>
                              </div>
                                <p class="flex-shrink-1 mb-0 card-stars text-xs mb-3">
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-gray-300"></i>
                                  <i class="fa fa-star text-gray-300"></i>
                                </p>
                              <p class="card-text text-muted"><span class="h4 text-primary">$75</span> per person</p>
                              <a [routerLink]="['/experiences/6466']" [queryParams]="{search_type: 'welcome'}" class="stretched-link"></a>
                            </div>
                          </div>
                        </div>
                      </div>          
                    </div><!-- /row -->
                    <div class="col-md-3"><!-- row -->
                      <div class="w-100 h-100 hover-animate">
                        <div class="card h-100 border-0 shadow">
                          <div class="card-img-top overflow-hidden gradient-overlay"> 
                            <img src="assets/store/pictures/exp/adv_1175410_1280.jpg" alt="Whale Sharks" class="img-fluid">
                          </div>
                          <div class="card-body d-flex align-items-center">
                            <div class="w-100">
                              <h6 class="card-title">
                                <span class="text-decoration-none text-dark">Whale Sharks</span>
                              </h6>
                              <div class="d-flex card-subtitle mb-3">
                                <p class="flex-grow-1 mb-0 text-muted text-sm">The best time to snorkel or to dive gfg fgfgfggdgfg ...</p>
                              </div>
                                <p class="flex-shrink-1 mb-0 card-stars text-xs mb-3">
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-gray-300"></i>
                                  <i class="fa fa-star text-gray-300"></i>
                                </p>
                              <p class="card-text text-muted"><span class="h4 text-primary">$75</span> per person</p>
                              <a [routerLink]="['/experiences/456555656']" [queryParams]="{search_type: 'welcome'}" class="stretched-link"></a>
                            </div>
                          </div>
                        </div>
                      </div>          
                    </div><!-- /row -->
                    <div class="col-md-3"><!-- row -->
                      <div class="w-100 h-100 hover-animate">
                        <div class="card h-100 border-0 shadow">
                          <div class="card-img-top overflow-hidden gradient-overlay"> 
                            <img src="assets/store/pictures/def/adv_1175410_1280.jpg" alt="Full Face Mask Diver" class="img-fluid">
                          </div>
                          <div class="card-body d-flex align-items-center">
                            <div class="w-100">
                              <h6 class="card-title">
                                <span class="text-decoration-none text-dark">Advanced Open Water</span>
                              </h6>
                              <div class="d-flex card-subtitle mb-3">
                                <p class="flex-grow-1 mb-0 text-muted text-sm">The best time to snorkel or to dive gfg fgfgfggdgfg ...</p>
                              </div>
                                <p class="flex-shrink-1 mb-0 card-stars text-xs mb-3">
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-gray-300"></i>
                                  <i class="fa fa-star text-gray-300"></i>
                                </p>
                              <p class="card-text text-muted"><span class="h4 text-primary">$75</span> per person</p>
                              <a [routerLink]="['/experiences/455534']" [queryParams]="{search_type: 'welcome'}" class="stretched-link"></a>
                            </div>
                          </div>
                        </div>
                      </div>          
                    </div><!-- /row -->
                  </div>
                  <div class="row mt-4">
                    <div class="col-md-8">
                      <a [routerLink]="['/s/adventures/PHILIPPINES']" [queryParams]="{search_type: 'destinations'}" class="text-muted">
                        <strong>Show more Dive Gigs Adventures</strong> &raquo;</a>
                      </div>
                  </div>
<!-- /end -->

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  