<div class="page-header header-filter header-medium" data-parallax="true" style="background-image: url('/assets/store/pictures/def/exp_668777_1280.jpg');margin-top: -20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h5 class="text-uppercase mb-0">scuba diving</h5>
        <h1 class="title mt-0">Scuba Diving at Jordan, Red Sea</h1>
        <h4>Aqaba, Jordan</h4>
        <div>
          <button class="btn btn-default btn-round mr-2"><i class="fa fa-share-alt"></i> Share</button>
          <button class="btn btn-default btn-round"><i class="fa fa-heart"></i> Like</button>
        </div>
        <p class="flex-shrink-1 card-stars text-xs mt-3">
          <strong class="txb mr-3">5.0</strong>
          <i class="fa fa-star text-white"></i>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <div class="container">
    <div class="about-description">

      <div class="row">
        <div class="col-md-3 ml-auto mr-auto">     
          <div class="text-left mt-5">
              <h3><strong>What you'll do</strong></h3>
          </div>
        </div>
        <div class="col-md-9 ml-auto mr-auto">     
            <div class="text-left mt-5 txta">
                we would like to show you the amazing underwater world around the Red Sea , Aqaba.
                Your tour will start as we pick you up from our meeting point , from there we will head to the diving point around 20 min by car. 
                whether you are  first-time diver or a pro, we will introduce you to the diving in the area.

                when we arrive at the dive site a briefing will be made to you explaining the equipment and how to use it, basic scuba diving skills,hands signals,also the safety aspects of Scuba diving. 
                <br> dive will be from the beach and will last approximately 45 minutes. 
            </div> 
          </div>  
        </div><!-- ./row--> 

        <div class="row mt-5">
          <div class="col-md-3 ml-auto mr-auto">     
            <div class="text-left mt-5">
              <div class="avatar">
              </div>
                <h3><strong>Your host</strong></h3>
            </div>
          </div>
          <div class="col-md-9 ml-auto mr-auto">     
              <div class="text-left mt-5 txta">
                <a routerLink="/u/show/454353">
                  <img src="/assets/store/faces/christian.jpg" width="120px" height="120px" alt="User info" class="img-raised rounded-circle img-fluid">
                </a>  
                <h3 class="mt-5">Joel</h3>
                  i'm an international scuba diver certified by PADI. My biggest passion is the underwater photography,which i 
                  share with my co-host and PADI Scuba instructor Omar Al Shamaylah who have much experience in this amazing activity.

                   We are proud to offer you the full range of PADI International courses taught by our highly qualified Instructor captain Omar.
               </div>
               <button type="submit" class="btn btn-outline-primary btn-round mt-5">Contact host </button>
          </div>  
        </div><!-- ./row--> 

          <div class="row mt-5">
            <div class="col-md-3 ml-auto mr-auto">     
              <div class="text-left mt-5">
                  <h3><strong>What's included</strong></h3>
              </div>
            </div>
            <div class="col-md-9 ml-auto mr-auto">     
                <div class="text-left mt-5">
                  <div class="row">
                    <div class="col-md-4 ml-auto mr-auto">
                      <strong>Drinks</strong>
                      <p>
                        we provide each diver with water , Tea , Coffee and soft Drinks on the dive spot right after the dive.
                      </p>
                    </div> 
                    <div class="col-md-4 ml-auto mr-auto">
                      <strong>Transportation</strong>
                      <p>
                        TRANSPORT from your hotel or airbnb to all the places we'll visit and back to you place.
                      </p>
                    </div> 
                    <div class="col-md-4 ml-auto mr-auto">
                      <strong>Equipment</strong>
                      <ul>
                      <li>- We’ll provide the full equipment for scuba diving .</li>
                      </ul>
                    </div> 
                 </div>  
                 </div> 
              </div>  
            </div><!-- ./row--> 

            <div class="row mt-5">
              <div class="col-md-3 ml-auto mr-auto">     
                <div class="text-left mt-5">
                    <h3><strong>Guest photos</strong></h3>
                </div>
              </div>
              <div class="col-md-9 ml-auto mr-auto">     
                  <div class="text-left mt-5 txta">
                    <img class="_91slf2a" aria-hidden="true" width="240px" height="280px" alt="Photo uploaded by guest. Click to show all guest photos." decoding="async" src="https://a0.muscache.com/im/pictures/c9d1fe23-ebe0-4ae4-8770-0c4dd4a38c78.jpg?aki_policy=large" style="object-fit: cover;">
                   </div> 
                </div>  
              </div><!-- ./row--> 

              <div class="row mt-5">
                <div class="col-md-3 ml-auto mr-auto">     
                  <div class="text-left mt-5">
                      <h3><strong>Guest reviews</strong></h3>
                      <p class="flex-shrink-1 card-stars text-xs mb-3">
                        <strong class="txb mr-3">5.0</strong>
                        <i class="fa fa-star text-success"></i>
                        <i class="fa fa-star text-success"></i>
                        <i class="fa fa-star text-success"></i>
                        <i class="fa fa-star text-white"></i>
                        <i class="fa fa-star text-white"></i>
                      </p>
                  </div>
                </div>
                <div class="col-md-9 ml-auto mr-auto">     
                    <div class="text-left mt-5">
                      
                      <div class="row">
                        <div class="col-md-12">
                            <div>
                              <a routerLink="/u/show/454353">
                                <img src="/assets/store/faces/christian.jpg" width="40px" height="40px" alt="User info" class="img-raised rounded-circle img-fluid mr-3">
                              </a>  
                              <a class="txb" routerLink="/u/show/454353" style="font-weight:600!important;">Joel</a> - March 2020
                            </div>
                        </div>
                      </div>

                      <div class="row text-success mt-3">
                        <div class="col-md-12">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                        </div>
                      </div>
                      <div class="row pt-2">
                        <div class="col-md-12">
                            <div>I think I started out at under $3 per month 5 or 6 years ago. The price has steadily increased 
                              and my latest renewal offer was $16.99 per month. Additionally last year my wife started having 
                              spam problems and it seems like someone gained access to all her email correspondence. The only 
                              place that we could pin it down to was the justhost SMTP server. Support was very evasive when I 
                              tried to explain what I thought happened.</div>
                        </div>
                      </div>
                      <hr>
                      
                      <div class="mt-5 text-center"><a class="txb" routerLink="/reviews/e/543534534">More reviews</a></div>
                      
                     </div> 
                  </div>  
                </div><!-- ./row--> 

                <div class="row mt-5">
                  <div class="col-md-3 ml-auto mr-auto">     
                    <div class="text-left mt-5">
                        <h3><strong>Where you'll be</strong></h3>
                    </div>
                  </div>
                  <div class="col-md-9 ml-auto mr-auto">     
                      <div class="text-left mt-5 txta">
                        The dives are done from the shore on one of our favorite sites in Red Sea , Aqaba : Japanese Garden , Airplane Dive Site , Ship Wreck , Black Rock, Seven Sisters,New Canyon Tank,First Bay,Rainbow Reef. Dive sites are chosen depending on the weather conditions and water visibility to ensure your safety and your comfort. if you do several dives with us we will try stopping vary the spots. But no worries: all our dive sites are beautiful!
                       </div> 
                    </div>  
                  </div><!-- ./row--> 

                  <div class="row mt-5">
                    <div class="col-md-12 ml-auto mr-auto">     
                      <agm-map [latitude]='latitude' [longitude]='longitude' [mapTypeId]='mapType' [zoom]='zoom'></agm-map> 
                    </div>  
                    </div><!-- ./row--> 

                    <div class="row mt-5 mb-5">
                      <div class="col-md-12 ml-auto mr-auto">     
                        <div class="text-left">
                            <h3><strong>This experience is available starting April 04, 2020</strong></h3>
                        </div>

                        <div class="row mt-5">
                          <div class="col-md-3 ml-auto mr-auto">     
                            <div class="text-left">
                                <h3 class="mt-1"><strong>Booking</strong></h3>
                            </div>
                          </div>
                          <div class="col-md-9 ml-auto mr-auto">  
                            <div class="row">
                              <div class="col-md-6 ml-auto mr-auto"> 
                                <h4><strong><span class="text-primary">$75</span> per person</strong></h4>  
                               
                                <div class="form-group bmd-form-group">
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="material-icons">calendar_today</i>
                                      </span>
                                    </div>
                                    <input type="date" class="form-control datepicker" id="date" type="text" placeholder="Choose a date"
                                    mdc-datetime-picker=""
                                    time="false" 
                                    date="true" 
                                    day-of-week-len="3"
                                    click-outside-to-close="true" 
                                    show-todays-date="" 
                                    today-btn="false"
                                    ng-model="date" 
                                    min-date="minDate" 
                                    max-date="maxDate">
                                  </div>
                                </div> 
                               
                                <div class="form-group mt-5">
                                   <h4><strong><span class="text-primary">$75</span> in total</strong></h4> 
                                </div>

                              </div> 
                              <div class="col-md-6 ml-auto mr-auto">
                                <form>
                                  
                                  <div class="form-group">
                                    <label for="adults" class="bmd-label-floating"><strong>Adults</strong></label>
                                    <div class="btn_inc_wrap mt-3">
                                      <div class="btn_inc_inner">
                                        <div class="btn_inc">
                                          <!-- <button type="button" class="qty-minus _btn" disabled aria-busy="false"> -->
                                          <button type="button" class="qty-minus _btn" aria-busy="false">
                                            <!-- <span class="_btn_off"> -->
                                            <span class="_btn_on">
                                              <svg viewBox="0 0 24 24" role="img" aria-label="subtract" focusable="false" style="height: 1em; width: 1em; display: block; fill: currentcolor;"><rect height="2" rx="1" width="12" x="6" y="11"></rect></svg>
                                            </span>
                                          </button>
                                        </div>
                                        <div aria-hidden="true" class="_btn_t">
                                          <div class="qty-val _btn_o">1</div>
                                          <input id="adults" name="adults" class="qty-inp" type="hidden" value="1">
                                        </div>
                                        <div class="btn_inc2">
                                          <button type="button" class="qty-plus _btn" aria-busy="false">
                                            <span class="_btn_on">
                                              <svg viewBox="0 0 24 24" role="img" aria-label="add" focusable="false" style="height: 1em; width: 1em; display: block; fill: currentcolor;"><rect height="2" rx="1" width="12" x="6" y="11"></rect><rect height="12" rx="1" width="2" x="11" y="6"></rect></svg>
                                            </span>
                                          </button>
                                        </div>
                                      </div>
                                    </div><!--/inc btn-->
                                  </div>

                                  <div class="form-group">
                                    <label for="children" class="bmd-label-floating"><strong>Children</strong></label>
                                    <h6 class="text-muted mt-0">Ages 2–12</h6>
                                    <div class="btn_inc_wrap mt-3">
                                      <div class="btn_inc_inner">
                                      <div class="btn_inc">
                                        <!-- <button type="button" class="qty-minus _btn" disabled aria-busy="false"> -->
                                        <button type="button" class="qty-minus _btn" aria-busy="false">
                                          <!-- <span class="_btn_off"> -->
                                          <span class="_btn_on">
                                            <svg viewBox="0 0 24 24" role="img" aria-label="subtract" focusable="false" style="height: 1em; width: 1em; display: block; fill: currentcolor;"><rect height="2" rx="1" width="12" x="6" y="11"></rect></svg>
                                          </span>
                                        </button>
                                      </div>
                                      <div aria-hidden="true" class="_btn_t">
                                        <div class="qty-val _btn_o">0</div>
                                        <input id="children" name="children" class="qty-inp" type="hidden" value="0">
                                      </div>
                                      <div class="btn_inc2">
                                        <button type="button" class="qty-plus _btn" aria-busy="false">
                                          <span class="_btn_on">
                                            <svg viewBox="0 0 24 24" role="img" aria-label="add" focusable="false" style="height: 1em; width: 1em; display: block; fill: currentcolor;"><rect height="2" rx="1" width="12" x="6" y="11"></rect><rect height="12" rx="1" width="2" x="11" y="6"></rect></svg>
                                          </span>
                                        </button>
                                      </div>
                                    </div>
                                  </div><!--/inc btn-->
                                 </div>

                                 <div class="form-group">
                                   <label for="infants" class="bmd-label-floating"><strong>Infants</strong></label>
                                   <h6 class="text-muted mt-0">Under 2</h6>
                                   <div class="btn_inc_wrap mt-3">
                                     <div class="btn_inc_inner">
                                     <div class="btn_inc">
                                       <!-- <button type="button" class="qty-minus _btn" disabled aria-busy="false"> -->
                                       <button type="button" class="qty-minus _btn" aria-busy="false">
                                         <!-- <span class="_btn_off"> -->
                                         <span class="_btn_on">
                                           <svg viewBox="0 0 24 24" role="img" aria-label="subtract" focusable="false" style="height: 1em; width: 1em; display: block; fill: currentcolor;"><rect height="2" rx="1" width="12" x="6" y="11"></rect></svg>
                                         </span>
                                       </button>
                                     </div>
                                     <div aria-hidden="true" class="_btn_t">
                                       <div class="qty-val _btn_o">0</div>
                                       <input id="infants" name="infants" class="qty-inp" type="hidden" value="0">
                                     </div>
                                     <div class="btn_inc2">
                                       <button type="button" class="qty-plus _btn" aria-busy="false">
                                         <span class="_btn_on">
                                           <svg viewBox="0 0 24 24" role="img" aria-label="add" focusable="false" style="height: 1em; width: 1em; display: block; fill: currentcolor;"><rect height="2" rx="1" width="12" x="6" y="11"></rect><rect height="12" rx="1" width="2" x="11" y="6"></rect></svg>
                                         </span>
                                       </button>
                                     </div>
                                   </div>
                                 </div><!--/inc btn-->
                                </div>

                                </form>

                              </div>
                                
                              <div class="mt-4">
                                <a routerLink="/payments/book/view-rules" [queryParams]="{
                                                                                          book_id: '54tg345435f545',
                                                                                          host_id: '6564556',
                                                                                          experience_id: '56454'}">
                                    <button class="btn btn-rose btn-round">Reserve</button>
                                </a> 
                                <div class="ripple-container"></div>
                              </div>
                               
                            </div>

                          </div>  
                        </div><!-- ./row-->
                      </div> 
                    </div><!-- ./row--> 

                    <div class="row mt-5 pb-5" style="background-color: #f5f5f5;">
                      <div class="col-md-3 ml-auto mr-auto">     
                        <div class="text-left mt-5">
                            <h3><strong>Guest safety</strong></h3>
                        </div>
                      </div>
                      <div class="col-md-9 ml-auto mr-auto">     
                          <div class="text-left mt-5 txta">
                            Outdoor activities carry risks, and you may be exposed to dangerous situations as part of this experience. Make sure you can participate safely given your abilities and the conditions (such as location, weather, and equipment).
                           </div> 
                        </div>  
                    </div><!-- ./row--> 

                    <div class="row mt-5 pb-5" style="background-color: #f5f5f5;">
                      <div class="col-md-3 ml-auto mr-auto">     
                        <div class="text-left mt-5">
                            <h3><strong>Cancellation policy</strong></h3>
                        </div>
                      </div>
                      <div class="col-md-9 ml-auto mr-auto">     
                          <div class="text-left mt-5 txta">
                            Any experience can be canceled and fully refunded within 24 hours of purchase, or at least 7 days before the experience starts.
                           </div> 
                        </div>  
                    </div><!-- ./row--> 

                    <div class="mt-5 text-center"><button class="btn btn-outline-primary btn-round"><i class="fa fa-flag"></i> Report</button></div>

                    <div class="row">
                      <div class="col-md-12 ml-auto mr-auto">     
                        <div class="text-left mt-5">
                            <h3><strong>Similar experiences</strong></h3>

                            <div class="row mt-3"><!-- row -->
                            <div class="col-md-3">
                              <div class="w-100 h-100 hover-animate">
                                <div class="card h-100 border-0 shadow">
                                  <div class="card-img-top overflow-hidden gradient-overlay"> 
                                    <img src="assets/store/pictures/exp/exp_668777_1280.jpg" alt="Full Face Mask Diver" class="img-fluid">
                                  </div>
                                  <div class="card-body d-flex align-items-center">
                                    <div class="w-100">
                                      <h6 class="card-title">
                                        <span class="text-decoration-none text-dark">Wreck Diver</span>
                                      </h6>
                                      <div class="d-flex card-subtitle mb-3">
                                        <p class="flex-grow-1 mb-0 text-muted text-sm">The best time to snorkel or to dive gfg fgfgfggdgfg ...</p>
                                      </div>
                                        <p class="flex-shrink-1 mb-0 card-stars text-xs mb-3">
                                          <i class="fa fa-star text-warning"></i>
                                          <i class="fa fa-star text-warning"></i>
                                          <i class="fa fa-star text-warning"></i>
                                          <i class="fa fa-star text-gray-300"></i>
                                          <i class="fa fa-star text-gray-300"></i>
                                        </p>
                                      <p class="card-text text-muted"><span class="h4 text-primary">$75</span> per person</p>
                                      <a [routerLink]="['/experiences/456555656']" [queryParams]="{search_type: 'welcome'}" class="stretched-link"></a>
                                    </div>
                                  </div>
                                </div>
                              </div> 
                            </div>          
                            </div><!-- /row -->

                            <div class="row">
                              <div class="col-md-12 ml-auto mr-auto">     
                                <div class="text-left mt-5">
                                    <h3><strong>Similar adventures</strong></h3>
        
                                    <div class="row mt-3"><!-- row -->
                                    <div class="col-md-3">
                                      <div class="w-100 h-100 hover-animate">
                                        <div class="card h-100 border-0 shadow">
                                          <div class="card-img-top overflow-hidden gradient-overlay"> 
                                            <img src="assets/store/pictures/def/adv_1175410_1280.jpg" alt="Full Face Mask Diver" class="img-fluid">
                                          </div>
                                          <div class="card-body d-flex align-items-center">
                                            <div class="w-100">
                                              <h6 class="card-title">
                                                <span class="text-decoration-none text-dark">Wreck Diver</span>
                                              </h6>
                                              <div class="d-flex card-subtitle mb-3">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm">The best time to snorkel or to dive gfg fgfgfggdgfg ...</p>
                                              </div>
                                                <p class="flex-shrink-1 mb-0 card-stars text-xs mb-3">
                                                  <i class="fa fa-star text-warning"></i>
                                                  <i class="fa fa-star text-warning"></i>
                                                  <i class="fa fa-star text-warning"></i>
                                                  <i class="fa fa-star text-gray-300"></i>
                                                  <i class="fa fa-star text-gray-300"></i>
                                                </p>
                                              <p class="card-text text-muted"><span class="h4 text-primary">$75</span> per person</p>
                                              <a [routerLink]="['/experiences/456555656']" [queryParams]="{search_type: 'welcome'}" class="stretched-link"></a>
                                            </div>
                                          </div>
                                        </div>
                                      </div> 
                                    </div>          
                                    </div><!-- /row -->


                        </div>
                      </div>  
                    </div><!-- ./row--> 

    </div>
  </div>
</div>