<div class="main mt-5">
  <div class="contact-content">
      <div class="container">

<div class="row">
  <div class="col-md-12">
    <h3 class="title">Account Settings</h3>
    <p class="description">Lee Aplin, leeaplin2017@gmail.com - <a class="txb" routerLink="/u/show/4534534">Go to profile</a></p>
  </div>
</div>

<div class="featurette-divider fd-100"></div>

<div class="row justify-content-md-center mt-5">
<div class="col col-sm-12">
  <div class="row text-center mt-5">
    <div class="col-lg-4">
      <img src="assets/store/svg/personal.svg" width="90" height="90" alt="">
      <h4 class="mt-3 mb-3">Personal information</h4>
      <p><a class="stretched-link" routerLink="personal-information" role="button"></a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="assets/store/svg/security.svg" width="90" height="90" alt="">
      <h4 class="mt-3 mb-3">Log in &amp; Security</h4>
      <p><a class="stretched-link" routerLink="login-security" role="button"></a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="assets/store/svg/payments.svg" width="90" height="90" alt="">
      <h4 class="mt-3 mb-3">Payment &amp; Payouts</h4>
      <p><a class="stretched-link" routerLink="payments-payouts" role="button"></a></p>
    </div><!-- /.col-lg-4 -->
</div>

<div class="row text-center mt-5">
<div class="col-lg-4">
  <img src="assets/store/svg/notifs.svg" width="90" height="90" alt="">
  <h4 class="mt-3 mb-3">Notifications</h4>
  <p><a class="stretched-link" routerLink="notifications" role="button"></a></p>
</div><!-- /.col-lg-4 -->
<div class="col-lg-4">
  <img src="assets/store/svg/prefer.svg" width="90" height="90" alt="">
  <h4 class="mt-3 mb-3">Preferences</h4>
  <p><a class="stretched-link" routerLink="preferences" role="button"></a></p>
</div><!-- /.col-lg-4 -->
</div>

</div> 
</div> 
</div> 
