<div class="main mt-5">
    <div class="content" style="margin-top: 150px;">
        <div class="container">
      

            <div class="bio-info">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="bio-image">
                                    <img src="/assets/store/faces/christian.jpg" width="200px" height="2000px" alt="User info" class="img-raised rounded-circle img-fluid">
                                    <h4>Lee</h4>
                                </div>
                                <hr>
                                <ul>
                                    <li><a class="txb" routerLink="/u/show/53453534">View profile</a></li>
                                    <li><a class="txb" routerLink="/account-settings">Edit profile</a></li>
                                </ul>			
                            </div>
                        </div>	
                    </div>
                    <div class="col-md-9">                      
                        <div class="text-left mt-5">                      
                            <h3>Messages (1 new)</h3>
                            <hr>

                            <div class="row mt-5"><!--begin message-->
                                <div class="col-md-12 mt-3">
                                    <div class="row">
                                        <div class="col-md-1"><a routerLink="/u/show/454353">
                                            <img src="/assets/store/faces/christian.jpg" width="40px" height="40px" alt="User info" class="img-raised rounded-circle img-fluid mr-3">
                                            </a>
                                        </div>
                                        <div class="col-md-9">
                                          <div>  
                                            <a class="txb" routerLink="/u/show/454353" style="font-weight:600!important;">Joel</a> - March 2020
                                          </div>
                                          <div class="mt-2"><a class="txb" routerLink="/experiences/53453543">Island hopping - 20 Feb 2020</a></div>
                                          <div class="mt-2">
                                            <a class="nodec mr-3" routerLink="/inbox/45345344">
                                                I think I started out at under $3 per month 5 or 6 years ago. The price has steadily increased 
                                                and my latest renewal offer was $16.99 per month. Additionally last year my wife started having 
                                                spam problems...  
                                            </a>
                                            <a class="txb small" routerLink="/inbox/45345344">view message</a> 
                                          </div>
                                        
                                         </div>
                                        <div class="col-md-2">
                                            <h5 class="text-success">Confirmed</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr><!--end message--> 

                            <div class="row mt-5"><!--begin message-->
                                <div class="col-md-12 mt-3">
                                    <div class="row">
                                        <div class="col-md-1"><a routerLink="/u/show/454353">
                                            <img src="/assets/store/faces/christian.jpg" width="40px" height="40px" alt="User info" class="img-raised rounded-circle img-fluid mr-3">
                                            </a>
                                        </div>
                                        <div class="col-md-9">
                                          <div>  
                                            <a class="txb" routerLink="/u/show/454353" style="font-weight:600!important;">Joel</a> - March 2020
                                          </div>
                                          <div class="mt-2"><a class="txb" routerLink="/experiences/53453543">Island hopping - 20 Feb 2020</a></div>
                                          <div class="mt-2">
                                            <a class="nodec mr-3 txb" routerLink="/inbox/45345344">
                                                I think I started out at under $3 per month 5 or 6 years ago. The price has steadily increased 
                                                and my latest renewal offer was $16.99 per month. Additionally last year my wife started having 
                                                spam problems...  
                                            </a>
                                            <a class="txb small" routerLink="/inbox/45345344">view message</a> 
                                          </div>
                                        
                                         </div>
                                        <div class="col-md-2">
                                            <h5 class="text-success">Confirmed</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr><!--end message--> 

                        </div>
                    </div>
                </div>	
            </div>
            

        </div> 
    </div> 
</div> 

