<div class="main mt-5">
  <div class="contact-content">
      <div class="container">

          <div class="row">
            <div class="col-md-12">
              <p class="text-muted font-weight-bold"><a routerLink="/account-settings">&laquo; Account Settings</a></p>
              <h3 class="title">Notifications</h3>
            </div>
          </div>

          <div class="featurette-divider fd-100"></div>

          <div class="row justify-content-md-center mt-5">
            <div class="col col-sm-8">
  
                <form class="row">
                    <div class="col col-sm-10">
                      <h5>Messages</h5>
                      Receive messages from hosts and guests, including booking requests.
                    </div>
                    <div class="col-sm-1">
                      <div class="form-check pt-4">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked="">Email
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                        </label>
                      </div>
                    </div>
                    <div class="col col-sm-1"></div>
                </form>
  
                <form class="row">
                    <div class="col-sm-10">
                      <h5>Reminders</h5>
                      Receive booking reminders, requests to write a review, pricing notices, and other reminders related to your 
                      activities on Divegigs.
                    </div>
                    <div class="col-sm-1">
                      <div class="form-check pt-4">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked="">Email
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-1"></div>
                </form>
  
                <form class="row">
                    <div class="col-sm-10">
                      <h5>Promotions and tips</h5>
                      Receive coupons, promotions, surveys, product updates, and inspiration from Divegigs and Divegigs 
                      partners.
                    </div>
                    <div class="col-sm-1">
                      <div class="form-check pt-4">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked="">Email
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-1"></div>
                </form>
  
                <form class="row">
                    <div class="col-sm-10">
                      <h5>Subscribe from all marketing emails</h5>
                      This includes recommendations, travel inspiration, deals, things to do in your home city, how Divegigs 
                      works, invites and referrals, surveys and research studies, Divegigs for Work updates, 
                      experience hosting tips, and promotions.
                    </div>
                    <div class="col-sm-1">
                      <div class="form-check pt-4">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked="">Email
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-1"></div>
                </form>

            </div>

            <div class="col col-sm-4"></div>
             
          </div>

    </div> 
  </div> 
</div>