<section class="mt-5 py-1"> 
    <div class="container">
      
      <div class="row border-bottom pb-3">
        <div class="col">
          <ul class="nav nav-pills nav-pills-primary">
            <li class="nav-item">
              <a class="nav-link active show" href="#pill1" data-toggle="tab">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pill2" data-toggle="tab">Freediving</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pill3" data-toggle="tab">Scuba diving</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pill3" data-toggle="tab">Tech diving</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pill3" data-toggle="tab">Snorkeling</a>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-8">
          <h3>Divegigs Gear &amp; Equipment</h3>
          <p class="text-secondary">Your gear you use will vary somewhat depending upon your diving environment</p>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-3"><!-- row -->
          <div class="w-100 h-100 hover-animate">
            <div class="card h-100 border-0 shadow bs">
              <div class="card-img-top overflow-hidden gradient-overlay"> 
                <img src="assets/store/pictures/def/seacsub_smart_en.jpg?4545" alt="Full Face Mask Diver" class="img-fluid">
              </div>
              <div class="card-body d-flex align-items-center">
                <div class="w-100">
                  <h6 class="card-title">
                    <span class="text-decoration-none text-dark">BDC - scubapo</span>
                  </h6>
                    <p class="flex-shrink-1 mb-0 card-stars text-xs mb-3">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-gray-300"></i>
                      <i class="fa fa-star text-gray-300"></i>
                    </p>
                  <a [routerLink]="['/gear/scuba-diving/bcds']" class="stretched-link"></a>
                </div>
              </div>
            </div>
          </div>          
        </div><!-- /row -->
       
      </div>
    </div>
  </section>

  <section class="mt-5 py-1"> 
    <div class="container"> 
      <h3>Discover more gear</h3>   
        <a class="btn btn-rose btn-xl text-white">BCD's</a>
        <a class="btn btn-rose btn-xl text-white">Regulators</a>
        <a class="btn btn-rose btn-xl text-white">Dive Computers</a>
        <a class="btn btn-rose btn-xl text-white">Wetsuits</a>
        <a class="btn btn-rose btn-xl text-white">Masks</a>
        <a class="btn btn-rose btn-xl text-white">Fins</a>
    </div>
</section> 
