<div class="main mt-5">
    <div class="contact-content">
        <div class="container">
      
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title">Privacy Policy</h3>
                    <p class="description small">(Last Updated: 1st January 2020)</p>
                </div>
                <div class="col-md-6 text-right"></div>
            </div>
    
            <div class="featurette-divider fd-100"></div>  
        
            <div class="row mt-5">
                <div class="col-sm-10 ml-auto mr-auto">
          
                    <div class="row">
                      <div class="col-md-12">
                        <h4>1. Acceptance of terms</h4>
                        <p>These terms of use (together with our privacy policy) apply to the use (accessing, browsing, or registering) of our website divegigs.com ("the Website"). You will not use the Website for any purpose that is unlawful or prohibited by these terms of use. By using the Website you are fully accepting the terms, conditions and disclaimers contained in this notice. If you do not accept these Terms of Use you must immediately leave the Website</p>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <h4>2. Definition of the Terms</h4>
                        <p>"us/we" means Dive Gigs or divegigs.com. "user/you", refers to the individual seeking to use divegigs.com.</p>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <h4>3. Information on Visitors</h4>
                        <p>All information divegigs.com asks you to submit to the Website will be treated in accordance with the Privacy Policy. We do not use cookies or spyware to gather information for use in marketing or any other activity. We may collect information about your computer and about your visits to and use of this website (including your IP address, geographical location, browser type, referral source. We may collect information relating to any transactions carried out between you and us on or in relation to this website, including information relating to any purchases you make of our goods or services (divegigs.com does not store any customers credit/debit card details). We may collect information that you provide to us for the purpose of registering with us</p>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <h4>4. Use and storage of your personal information</h4>
                        <p>We require this information to understand your needs and provide you with a better service. Any information you provide to us will only be used within divegigs.com and by its service providers. We will hold your personal information on our systems for as long as you use the service you have requested, and remove it in the event that the purpose has been met. From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customise the website according to your interests. We may periodically send promotional email about new products, special offers or other information which we think you may find interesting using the email address which you have provided.</p>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <h4>5. Intellectual property rights</h4>
                        <p>The Website's design, names, text, images, graphics, logo and the arrangement of the same ("the Materials") are all owned by, or licensed to, divegigs.com or otherwise used divegigs.com as permitted by applicable law. You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text. The Materials may not be reproduced for any commercial or public purpose, republished, posted, broadcast, distributed or transmitted by you, or provided by you to any third party without the express written consent of divegigs.com - We are the owner or the licensee of all intellectual property rights in our site, and in the material published on it. Those works are protected by copyright laws and treaties around the world. All such rights are reserved.</p>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <h4>6. Access to your personal information</h4>
                        <p>You have the right to request a copy of the personal information about you and to have any inaccuracies corrected, (We may charge for information requests.) details are found at the bottom of this page.</p>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <h4>7. Cookies</h4>
                        <p>When you enter a site your computer will automatically be issued with a cookie. Cookies are text files that identify your computer to our server. Cookies allow web applications to respond to you as an individual. We only use this information for statistical analysis purposes and then the data is removed from the system. Users have the opportunity to set their computers to accept all cookies, to notify them when a cookie is issued, or not to receive cookies at any time. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.</p>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <h4>8. Links to other websites</h4>
                        <p>The Website may include links to third party websites that are controlled and maintained by others. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. Any link to other websites is not an endorsement of such websites and you acknowledge and agree that we are not responsible for the content or availability of any such sites.</p>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <h4>9. Indemnity</h4>
                        <p>You agree to indemnify "us" (divegigs.com), and/or its directors, employees and agents, against any claim made in respect of the Property, all liabilities, misdescriptions, legal fees, damages, losses, costs and other expenses in relation to any claims or actions brought against us that arises wholly or partially out of any act or omission committed by You.</p>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <h4>10. Disclaimers</h4>
                        <p>We does not approve or endorse any information contained on any third-party sites and accepts no responsibility or liability for this information or its content.We not warrant uninterrupted or error free use of the Website, that defects will be corrected, or that the Website or the server that makes it available or files available for downloading from the Internet are free of infection or viruses, worms, Trojan horses or other code that manifest contaminating or destructive properties. divegigs.com is providing the Website and its contents on an "as is" and an "as available" basis, without any representation or warranty of any kind, whether express or implied, including, but not limited to, warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security, accuracy, merchantability or title in relation to the Website.</p>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <h4>11. Limitation of Liability</h4>
                        <p>Whilst we take all reasonable care to ensure accuracy of all property descriptions and all other information and content contained on our site, these do not constitute an offer or contract. No responsibility is taken for any error, omission or mistake. The descriptions are not intended to be relied upon. The services provided by the website are provided on an as-is basis, without warranties of any kind, either express or implied. We assume no responsibility for the content of websites linked on our site. Such links should not be interpreted as endorsement by us of those linked websites.<br> 
                        We will not be liable for any loss or damage that may arise from your use of them.</p>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <h4>12. Severance</h4>
                        <p>If any of these Terms of Use should be determined to be invalid, illegal or unenforceable for any reason by any court of competent jurisdiction then such Terms of Use shall be severed and the remaining Terms of Use shall survive and remain in full force and effect and continue to be binding and enforceable.</p>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <h4>13. Credit and Debit Card Payments</h4>
                        <p>Credit and debit card payments are accepted for payment in respect of the company's marketing services and optional 'add ons' such as photography, sign boards, energy performance certificates, conveyancing products and so on. Please read these terms carefully before using the online payments facility. Use of company's online payments application on this website indicates your acceptance of these terms. If you do not accept these terms please do not use the online payments facility on this website.
                        The company cannot accept any liability if payment is refused, or declined, by the debit/credit card supplier. The company has no control over acceptance over acceptance of card payments and any refusal of payment should be taken up with your card supplier.<br>
                        Dive Gigs does not store credit or debit card details of any kind.</p>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <h4>14. Confirmation of Payment</h4>
                        <p>Once your payment has been authorised, the application will display a confirmation screen showing the payment details and a UNIQUE transaction reference number. You can print this screen as your receipt for your payment. These details will also be e-mailed to you if you have supplied the system with a valid e-mail address during the transaction. Please keep a note of the transaction receipt number, as you will need to quote this if you have any queries with your payment. Your receipt will not show your debit/credit card details, so if your receipt is lost or stolen, your card details will remain confidential.</p>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <h4>15. Refused Payments</h4>
                        <p>If your payment is refused, the application will display a screen informing you of this. Remember - it is not the company that is refusing your card payment - it is the card issuing bank that is refusing to authorise the payment. If this occurs you will need to contact your card company to discuss the reasons for the refusal.</p>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <h4>16. Security</h4>
                        <p>The company provides a secure online payments facility, fully managed to Level 1 approval in line with the Payment Card Industry (PCI) requirements. Once you click on the link to make a payment you will be re-directed to a fully hosted secure managed environment. All information that you send will be fully 128 bit encrypted. The online payment service is fully managed externally by Paypal, Stripe and the company does not hold any card details on any of its servers or within its infrastructure. The company does not have any access to your card details on the managed service.
                        The online payments system complies with all of the security requirements of the PCI council - CV2 input, Verified by Visa, MasterCard SecureCode etc. and the company will continue to enhance the application to the highest security standards.</p>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <h4>IMPORTANT NOTICE</h4>
                        <p>Any changes we may make to our terms of use in the future will be posted on this page. Please check back frequently to see any updates or changes to our terms of use. You will be deemed to have accepted a variation if you continue to use the site after such changes have been posted.</p>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <address>
                          Email : <a href="mailto:support@divegigs.com"><strong>support@divegigs.com</strong></a>
                        </address>
                      </div>
                    </div>
                    
                    <div class="row mb-5">
                      <div class="col-md-12">
                        <p><strong>Dive Gigs</strong> - does not accept any responsibility or liability in relation to such obligations and compliance with laws, regulations and requirements.</p>
                      </div>
                    </div>
          
              <div> 
          
            </div>
          
          </div>
            </div>

        </div> 
    </div> 
</div> 
