<div class="main mt-5">
    <div class="contact-content">
        <div class="container">
      
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title">Who is attending?</h3>
                    <p class="description"></p>
                </div>
            </div>
    
            <div class="featurette-divider fd-100"></div>  
        
            <div class="row mt-5">
                <div class="col-sm-7 ml-auto mr-auto">

                    <div class="row">
                        <div class="col-md-12 ml-auto mr-auto">       
                            
                            <!-- guests -->
                            <div class="text-left">
                                <h4><strong>Guests</strong></h4>
                                <form class="mt-5"> 
                                    
                                    <div class="row mb-5">
                                      <div class="col">
                                        <label for="guest_name_1" class="bmd-label-floating">Guest name</label>
                                        <input type="text" class="form-control" id="guest_name_1">
                                      </div>
                                      <div class="col">
                                        <label for="guest_email_1" class="bmd-label-floating">Guest email</label>
                                        <input type="email" class="form-control" id="guest_email_1">
                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col">
                                        <div class="alert alert-default bs">
                                            <div class="container">
                                              <button type="button" class="close acb" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                                              </button>
                                              <b>Joel Aplin:</b> joel@joel.com
                                            </div>
                                          </div>
                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col">
                                        <div class="alert alert-default bs">
                                            <div class="container">
                                              <button type="button" class="close acb" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                                              </button>
                                              <b>Joel Aplin:</b> joel@joel.com
                                            </div>
                                          </div>
                                      </div>
                                    </div>

                                    <p class="txb mt-5">
                                        Say hello to your host
                                    </p>
                                    <p class="p-2 bs" style="    background-color: #f5f5f5;">
                                        Hello and welcome! 
                                        <br>
                                        We're sure you will love Edinburgh and find our home just what you need for your visit.
                                        Our friend Brian manages our home for us and he will be in touch soon.
                                        <br>
                                        Regards<br>
                                        Janet & Peter
                                    </p>
                                    <div class="form-group label-floating">
                                      <label class="form-control-label bmd-label-floating" for="message"> Your message</label>
                                      <textarea class="form-control" rows="6" id="message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <a routerLink="/payments/book/confirm" [queryParams]="{
                                                                                       book_id: '54tg345435f545',
                                                                                       host_id: '6564556',
                                                                                       experience_id: '56454'}">
                                        <button class="btn btn-rose btn-round">Continue</button>
                                        </a> 
                                        <div class="ripple-container"></div>
                                    </div>

                                </form>                        
                           </div>

                        </div>  
                    </div><!-- ./row--> 

                </div> 
                <div class="col-sm-5 ml-auto mr-auto">
                                                       
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative p-2">
                        <div class="col p-0 d-flex flex-column position-static">
                            <strong class="d-inline-block m-0">Island Hopping</strong>        
                            <strong class="d-inline-block m-0">Cebu, Philippines</strong>
                            <p class="flex-shrink-1 mb-0 card-stars text-xs mb-3">
                              <i class="fa fa-star text-warning"></i>
                              <i class="fa fa-star text-warning"></i>
                              <i class="fa fa-star text-warning"></i>
                              <i class="fa fa-star text-gray-300"></i>
                              <i class="fa fa-star text-gray-300"></i>
                            </p>
                                  
                        </div>
                        <div class="col-auto d-lg-block">
                            <img src="assets/store/pictures/exp/adv_1175410_1280.jpg" alt="Island Hopping" class="img" width="140px" height="100px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><i class="fa fa-user mr-2"></i> Guests 1</div>
                        <div class="col-md-12"><i class="fa fa-calendar"></i> 12 May 2020</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">$75 x 1</div>
                        <div class="col text-right">$75</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col txb">Total (USD)</div>
                        <div class="col text-right txb">$75</div>
                    </div>
                                                                       
                </div>
            </div>

        </div> 
    </div> 
</div> 


