<div class="main mt-5">
  <div class="contact-content">
    <div class="container">
    
      <div class="row">
        <div class="col-md-12">
          <h3 class="title">Forgot your password</h3>
          <p class="description">Please enter your details.
            We will send you a verification email link to reset your password</p>
        </div>
        <div class="col-md-6 text-right"></div>
    </div>
  
    <div class="featurette-divider fd-100"></div>  
      
      <div class="row">
        <div class="col-sm-6 ml-auto mr-auto">

          <form role="form" id="contact-form" method="post" class="mt-5">
            <div class="form-group">
              <label for="email" class="bmd-label-floating">Email address</label>
              <input type="email" class="form-control" id="email">
              <span class="bmd-help">We'll never share your email with anyone else.</span>
            </div>
            <div class="submit text-center mt-5">
              <button type="submit" class="btn btn-primary btn-raised btn-round">Continue</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

