<div class="main mt-5">
    <div class="content" style="margin-top: 150px;">
        <div class="container">

            <div class="bio-info">
                <div class="row">
                    <div id="first" class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bio-image">
                                    <img src="assets/store/pictures/exp/adv_1175410_1280.jpg" alt="Island Hopping" class="mb-3 img-fluid">
                                    <h3 class="m-0">Island hopping</h3>
                                    <h5 class="m-0">20 May 2020</h5>
                                </div>
                                <hr>
                                <h5 class="m-0">Address</h5>
                                <div>Pangi, Siquijor, Central Visayas 6225, Philippines</div>
                                <hr>
                                <h5 class="m-0">Confirm code</h5>
                                <div>DDSDDGD</div>
                                <hr>
                                <h5 class="m-0">Cost</h5>
                                <div>$75</div>
                                <hr>	
                            </div>
                        </div>	
                    </div>
                    <div class="col-md-8">                      
                        <div class="text-left">

                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Matzy Patsy</h4>
                                    <form role="form" id="contact-form" method="post">
                                    <div class="form-group label-floating">
                                        <label class="form-control-label bmd-label-floating" for="message"> Your message</label>
                                        <textarea class="form-control" rows="4" id="message"></textarea>
                                    </div>
                                    <div class="submit text-center">
                                        <button type="submit" class="btn btn-primary btn-raised btn-round">Send message</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                            
                            <div class="row mt-5"><!--begin message-->
                                <div class="col-md-12 mt-3">
                                    <div class="row">
                                        <div class="col-md-1"><a routerLink="/u/show/454353">
                                            <img src="/assets/store/faces/christian.jpg" width="40px" height="40px" alt="User info" class="img-raised rounded-circle img-fluid mr-3">
                                            </a>
                                        </div>
                                        <div class="col-md-11">
                                         <div>  
                                            <a class="txb" routerLink="/u/show/454353" style="font-weight:600!important;">Joel</a>
                                          </div>
                                          <div class="mt-2">
                                                I think I started out at under $3 per month 5 or 6 years ago. The price has steadily increased 
                                                and my latest renewal offer was $16.99 per month. Additionally last year my wife started having 
                                                spam problems...
                                          </div>
                                        </div>
                                    </div>
                                    <div class="h5 small text-center">20 Feb 2020</div>
                                </div>
                            </div>
                            <hr><!--end message--> 

                            <div class="row mt-5"><!--begin message-->
                                <div class="col-md-12 mt-3">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="mt-2">
                                                I think I started out at under $3 per month 5 or 6 years ago. The price has steadily increased 
                                                and my latest renewal offer was $16.99 per month. Additionally last year my wife started having 
                                                spam problems...
                                            </div>
                                         </div>
                                        <div class="col-md-1">
                                            <img src="/assets/store/faces/christian.jpg" width="40px" height="40px" alt="User info" class="img-raised rounded-circle img-fluid">
                                        </div>
                                    </div>
                                    <div class="h5 small text-center">20 Feb 2020</div>
                                </div>
                            </div>
                            <hr><!--end message--> 

                        </div>
                    </div>
                </div>	
            </div>
            

        </div> 
    </div> 
</div> 

