<footer class="footer border-top py-5">
    <div class="container">
        <div class="row">      
                <div class="col-lg-4 mb-5 mb-lg-0 text-left">
                    <div class="font-weight-bold text-dark mb-3">Social Media</div>
                    <ul class="list-inline fl">
                      <li class="list-inline-item"><a href="#" target="_blank" title="twitter" class="text-muted text-hover-primary"><i class="fa fa-twitter fa-2x"></i></a></li>
                      <li class="list-inline-item"><a href="#" target="_blank" title="facebook" class="text-muted text-hover-primary"><i class="fa fa-facebook fa-2x"></i></a></li>
                      <li class="list-inline-item"><a href="#" target="_blank" title="instagram" class="text-muted text-hover-primary"><i class="fa fa-instagram fa-2x"></i></a></li>
                      <li class="list-inline-item"><a href="#" target="_blank" title="pinterest" class="text-muted text-hover-primary"><i class="fa fa-pinterest fa-2x"></i></a></li>
                      <li class="list-inline-item"><a href="#" target="_blank" title="youtube" class="text-muted text-hover-primary"><i class="fa fa-youtube fa-2x"></i></a></li>
                    </ul>
                  </div>
                  <div class="col-lg-2 col-md-6 mb-5 mb-lg-0 text-left">
                    <h5 class="text-dark mb-3">Dive Gigs</h5>
                    <ul class="list-unstyled fl">
                      <li><a class="text-muted pl-0" routerLink="about-us">About Us</a></li>
                      <li><a class="text-muted pl-0" routerLink="contact-us">Contact Us</a></li>
                      <li><a class="text-muted pl-0" routerLink="privacy">Privacy Policies</a></li>
                      <li><a class="text-muted pl-0" routerLink="terms">Terms of Use</a></li>
                      <li><a class="text-muted pl-0" routerLink="site-map">Site Map</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-2 col-md-6 mb-5 mb-lg-0 text-left">
                    <h5 class="text-dark mb-3">Discover</h5>
                    <ul class="list-unstyled fl">
                      <li><a class="text-muted pl-0" [routerLink]="['s/diveboards']" [queryParams]="{search_type: 'footer'}">Diveboards</a></li>
                      <li><a class="text-muted pl-0" [routerLink]="['s/experiences']" [queryParams]="{search_type: 'footer'}">Experiences</a></li>
                      <li><a class="text-muted pl-0" [routerLink]="['s/adventures']" [queryParams]="{search_type: 'footer'}">Adventures</a></li>
                      <li><a class="text-muted pl-0" [routerLink]="['s/destinations']" [queryParams]="{search_type: 'footer'}">Destinations</a></li>
                      <li><a class="text-muted pl-0" [routerLink]="['s/gear']" [queryParams]="{search_type: 'footer'}">Gear &amp; Equipment</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-2 col-md-6 mb-5 mb-lg-0 text-left">
                    <h5 class="text-dark mb-3">Help</h5>
                    <ul class="list-unstyled fl">
                      <li><a class="text-muted pl-0" routerLink="help/advice">Advice</a></li>
                      <li><a class="text-muted pl-0" routerLink="help/communities">Communities</a></li>
                      <li><a class="text-muted pl-0" routerLink="help/environment">Environment</a></li>
                      <li><a class="text-muted pl-0" routerLink="help/marine-life">Marine Life</a></li>
                      <li><a class="text-muted pl-0" routerLink="help">Help Center &raquo;</a></li>
                    </ul>
                  </div>
        </div>
        <div class="row mt-5">
                        <div class="credits mr-auto ml-auto">
                <span class="copyright">
                    &copy; Divegigs made with <i class="fa fa-heart heart"></i> by CookItFx
                </span>
            </div>
        </div>
    </div>
</footer>
